<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{.Title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles/style.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/medium.css" media="(min-width:320px) and (max-width:769px)">
		<script src="/static/jquery.js"></script>
		<script src="/static/classes.js"></script>
	</head>
	<body onresize="rePosH();">
