@font-face {
	font-family: Segoe UI;
	src: url('../fonts/TT Masters DEMO Black.otf');
	font-weight: bold;
}

@font-face {
	font-family: Segoe UI;
	src: url('../fonts/TT Masters DEMO Birds Regular.otf');
}

@font-face {
	font-family: Calibri;
	src: url('../fonts/calibri.ttf');
}

@font-face {
	font-family: Calibri;
	src: url('../fonts/calibrii.ttf');
	font-style: italic;
}

@font-face {
	font-family: Calibri;
	src: url('../fonts/calibrib.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Calibri;
	src: url('../fonts/calibriz.ttf');
	font-weight: bold;
	font-style: italic;
}

body {
	margin: 0px;
}

h1 {
	margin: 0px;
	font-family: Segoe UI;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 18px;
	font-family: Segoe UI;
	font-weight: 500;
}

em {
	font-weight: bold;
}

.indexblock p {
	position: relative;
	width: 200px;
	margin: 0px;
	font-family: Segoe UI;
	color: white;
	font-size: 10px;
}

.mainblock {
	max-height: 0px;
	overflow: hidden;
	font-family: Segoe UI;
	background: white;
}

.mainblock ul {
	display: block;
	max-width: 400px;
	font-size: 13px;
	margin: 0 auto;
}

.mainblock li {
	cursor: pointer;
	margin-bottom: 13px;
	margin-top: 10px;
}

.mainblock li:hover {
	text-decoration: underline;
}

.button {
	width: 110px;
	height: 25px;
	border-radius: 3px;
	text-align: center;
}

.button h6 {
	margin: 0px;
	position: relative;
	top: 8px;
	font-family: Segoe UI;
	font-weight: 500;
	font-size: 8px;
}

.indexblock {
	min-height: 225px;
	display: block;
}

.indexblock:after {
	display: table;
	content: '';
	clear: both;
}

.footer {
	max-height: 0px;
	overflow: hidden;
}

.footer a {
	margin: 0px;
	display: block;
	top: 18px;
	font-size: 10px;
	position: relative;
	font-family: Segoe UI;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

#mathindexblock {
	background: #37bd80;
}

#mathfooter {
	background: #37bd80;
}

#mathfooter a {
	color: #dfdb70;
}

#mathindexblock h1{
	color: #dfdb70;
	position: relative;
	margin-left: 100%;
	right: 135px;
	top: 35px;
	font-size: 38px;
}

#mathindexblock .button {
	background: #f15723;
	color: #dfdb70;
	position: relative;
	margin-left: 100%;
	right: 150px;
	top: 75px;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#mathindexblock .button:hover {
	cursor: pointer;
	background: #dfdb70;
	color: #f15723;
}

#mathindexblock p {
	margin-left: 100%;
	right: 235px;
	top: 50px;
	min-height: 35px;
}

#mathfrontimg {
	height: 225px;
	margin-top: -113px;
	margin-left: 35px;
	position: relative;
}

#physindexblock {
	background: #bf2f60;
/*	background-image: url('physics1.png');
	background-repeat: no-repeat;
	background-position: 70px -40px;*/
}

#physfooter {
	background: #bf2f60;
}

#physfooter a {
	color: #dfdb70;
}

#physindexblock h1{
	color: #dfdb70;
	position: relative;
	margin-left: 35px;
	top: 35px;
	font-size: 38px;
}

#physindexblock .button {
	background: #7fb369;
	color: #ffffff;
	position: relative;
	top: 75px;
	left: 35px;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#physindexblock .button:hover {
	cursor: pointer;
	background: #ffffff;
	color: #7fb369;
}

#physindexblock p {
	margin-left: 35px;
	top: 50px;
	min-height: 35px;
}

#physfrontimg {
	height: 225px;
	margin-top: -113px;
	float: right;
	margin-right: 35px;
	position: relative;
}

#problemsindexblock {
	background: #ffe167;
}

#problemsfooter {
	background: #ffe167;
}

#problemsfooter a {
	color: #fb5229;
}

#problemsindexblock h1{
	color: #fb5229;
	position: relative;
	margin-left: 100%;
	right: 205px;
	top: 35px;
	font-size: 38px;
}

#problemsindexblock .button {
	background: #bf2f60;
	color: #ffffff;
	position: relative;
	margin-left: 100%;
	right: 150px;
	top: 75px;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#problemsindexblock .button:hover {
	cursor: pointer;
	background: #ffffff;
	color: #bf2f60;
}

#problemsindexblock p {
	color: black;
	margin-left: 100%;
	right: 235px;
	top: 50px;
	min-height: 35px;
}

#problemsfrontimg {
	height: 225px;
	margin-top: -113px;
	margin-left: 35px;
	position: relative;
}

#scientistindexblock {
	background: #22313F;
}

#scientistfooter {
	background: #22313F;
}

#scientistfooter a {
	color: #C5EEF7;
}

#scientistindexblock h1{
	color: #C5EEF7;
	position: relative;
	margin-left: 35px;
	top: 35px;
	font-size: 38px;
}

#scientistindexblock .button {
	background: #336E7B;
	color: #C5EEF7;
	position: relative;
	top: 75px;
	left: 35px;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#scientistindexblock .button:hover {
	cursor: pointer;
	background: #C5EEF7;
	color: #336E7B;
}

#scientistindexblock p {
	margin-left: 35px;
	top: 50px;
	min-height: 35px;
}

#scientistfrontimg {
	height: 175px;
	margin-top: -88px;
	float: right;
	border-radius: 8px;
	margin-right: 35px;
	position: relative;
}

#indexpage {
	background: #4183D7;
}

#indexpage h1 {
	text-align: center;
	color: #C5EFF7;
	font-size: 38px;
	position: relative;
	top: 25px;
}

#indexpage h2 {
	text-align: center;
	color: #C5EFF7;
	font-size: 25px;
	font-family: Segoe UI;
	font-weight: bold;
	position: relative;
	top: 25px;
}

#indexpage p {
	width: 90%;
	top: 33px;
	text-indent: 25px;
	text-align: center;
	margin: 0 auto;
	font-family: Segoe UI;
	margin-top: 15px;
	font-size: 10px;
}

#mrpark {
	background: #6C7A89;
}

#mrpark h1 {
	color: #ECECEC;
	text-align: center;
	font-size: 38px;
	position: relative;
	top: 25px;
}

#mrpark p {
	width: 90%;
	top: 33px;
	text-align: center;
	margin: 0 auto;
	font-family: Segoe UI;
	margin-top: 15px;
	font-size: 10px;
}

#langs {
	background: #BF55EC;
}

#langs h1 {
	color: #DCC6E0;
	text-align: center;
	font-size: 38px;
	position: relative;
	top: 25px;
}

#langs #lang {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 38px;
}

#langs .lang {
	display: inline-block;
	margin: 8px;
	width: 100px;
	height: 100px;
	background: #663399;
	color: #DCC6E0;
	border-radius: 8px;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#langs .lang:hover {
	opacity: 1;
}

#langs .lang h4 {
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 25px;
}

#mathmainblock {
	color: #019875;
}

#mathmainblock h2 {
	color: #019875;
}

#mathmainblock ul {
	//color: #dfdb70;
	color: #019875;
	list-style: none;
}

#mathmainblock li {
	padding-left: 38px;
	background-size: 17px 17px;
	line-height: 17px;
	background-repeat: no-repeat;
}

#physmainblock {
	color: #674172;
}

#physmainblock h2 {
	color: #674172; 
}

#physmainblock ul {
	color: #674172;
	list-style: none;
}

#physmainblock li {
	padding-left: 38px;
	background-size: 17px 17px;
	line-height: 17px;
	background-repeat: no-repeat;
}

#problemsmainblock {
	color: #D35400;
}

#problemsmainblock .button {
	background: #bf2f60;
	color: #ffffff;
	transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	display: block;
	margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 13px;
}

#problemsmainblock .button:hover {
	cursor: pointer;
	background: #ffffff;
	color: #bf2f60;
}

#problemsmainblock canvas {
	display: block;
	margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 13px;
}

#problemsmainblock h2 {
	color: #D35400; 
}

#problemsmainblock ul {
	color: #D35400;
	list-style: none;
}

#problemsmainblock li {
	padding-left: 38px;
	background-size: 17px 17px;
	line-height: 17px;
	background-repeat: no-repeat;
}

#scientistmainblock {
	color: #22313F;
	opacity: 0;
	transition: 3s;
	-moz-transition: 3s;
}

#scientistmainblock h2 {
	color: #22313F; 
}

#scientistmainblock ul {
	display: block;
	list-style: disc;
	max-width: auto;
	font-size: 10px;
	margin: 8px;
	margin: 0 auto;
}

#scientistmainblock li {
	cursor: auto;
	margin: 8px;
}

#scientistmainblock li:hover {
	text-decoration: none;
}

.mainblock h2 img {
	margin: 0px;
	display: inline;
	height: 28px;
	margin-right: 13px;
	margin-bottom: -5px;
}

.mainblock img {
	display: block;
	margin: 0 auto;
}

#scientistmainblock img {
	float: right;
	height: 175px;
	border-radius: 13px;
	margin: 13px;
	margin-top: 0px;
}

#scientistmainblock blockquote {
	display: block;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	margin: 13px;
	font-style: italic;
}

#scientistmainblock:after {
	display: table;
	content: '';
	clear: both;
}

.mainblock h6 {
	text-align: center;
}

#mathmainblock .sectionul {
	list-style: upper-roman;
}

#mathmainblock .sectionul li {
	padding-left: 0px;
}

#physmainblock .sectionul {
	list-style: lower-greek;
}

#physmainblock .sectionul li {
	padding-left: 0px;
}

#problemsmainblock .sectionul {
	list-style: decimal-leading-zero;
}

#problemsmainblock .sectionul li {
	padding-left: 0px;
}

.mainblock p {
	font-family: Calibri;
	font-size: 10px;
	text-align: justify;
	margin: 13px;
	text-indent: 13px;
}

.mainblock u {
	text-decoration: overline;	
}

.mainblock table {
	text-align: center;
	margin: 0 auto;
}

.mainblock table tr td {
	margin: 2px;
}

.mainblock span {
	margin: 13px;
	font-family: Calibri;
	font-size: 10px;
	text-align: center;
	display: block;
}

.mainblock .MathJax {
	margin: 0px;
	display: inline;
}

.mainblock .MathJax_Preview {
	display: none;
}

.mainblock .articlesection {
	float: left;
	vertical-align: top;
	margin-left: 13px;
}

.mainblock .articleauthor {
	float: right;
	vertical-align: top;
	margin-right: 13px;
}

.mainblock .articleinfo .articlesection h3 img {
	margin: 0px;
	display: inline;
	height: 18px;
	margin-bottom: -5px;
	margin-right: 13px;
}

.mainblock h3 {
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 16px;
}

.mainblock .articleinfo:after {
	display: table;
	content: '';
	clear: both;
}

@-moz-keyframes openSection{
	from {
		min-height: 225px;
	}
	to {
		min-height: 75px;
	}
}

@-moz-keyframes fadeOut{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes imgResize{
	from {
		height: 225px;
		margin-top: -113px;
	}
	to {
		height: 75px;
		margin-top: -38px;
	}
}

@-moz-keyframes hResize{
	from {
		font-size: 38px;
		top: 35px;
	}
	to {
		font-size: 28px;
		top: 20px;
	}
}

@-moz-keyframes hResize1{
	from {
		font-size: 38px;
		top: 35px;
		margin-left: 35px;
		text-align: left;
		left: 0px;
		width: 0px;
		opacity: 1;
	}
	to {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 0;
	}
}

@-moz-keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn1{
	from {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 0;
	}
	to {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 1;
	}
}

@-moz-keyframes mainShow{
	from {
		max-height: 0px;
		min-height: 0px;
	}
	to {
		min-height: 700px;
		max-height: 10000px;
	}
}

@-moz-keyframes footerShow{
	from {
		max-height: 0px;
		min-height: 0px;
	}
	to {
		min-height: 50px;
		max-height: 50px;
	}
}

@-webkit-keyframes openSection{
	from {
		min-height: 225px;
	}
	to {
		min-height: 75px;
	}
}

@-webkit-keyframes fadeOut{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes imgResize{
	from {
		height: 225px;
		margin-top: -113px;
	}
	to {
		height: 75px;
		margin-top: -38px;
	}
}

@-webkit-keyframes hResize{
	from {
		font-size: 38px;
		top: 35px;
	}
	to {
		font-size: 28px;
		top: 20px;
	}
}

@-webkit-keyframes hResize1{
	from {
		font-size: 38px;
		top: 35px;
		margin-left: 35px;
		text-align: left;
		left: 0px;
		width: 0px;
		opacity: 1;
	}
	to {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 0;
	}
}

@-moz-keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn1{
	from {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 0;
	}
	to {
		font-size: 28px;
		top: 20px;
		margin-left: 50%;
		left: -50px;
		text-align: center;
		width: 100px;
		opacity: 1;
	}
}

@-webkit-keyframes mainShow{
	from {
		max-height: 0px;
		min-height: 0px;
	}
	to {
		min-height: 700px;
		max-height: 10000px;
	}
}

@-webkit-keyframes footerShow{
	from {
		max-height: 0px;
		min-height: 0px;
	}
	to {
		min-height: 50px;
		max-height: 50px;
	}
}
